/* Google Scholar icon, 6/8/2022 */
.fa-scholar {
  content: url('images/google-scholar.svg');
  height: 1em;
  width: auto;
}

/* Publications page*/
.wrapper_publication {
    background-image: url("images/bg.png");
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 2em 0 8em 0;
}

.container_publication {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 650px;
}

.container_project {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
    text-align: justify
}
